.profile-page {
  @import "../../../styles/variables/color";

  .personal-info {
    display: flex;
    flex-direction: column;

    min-width: 220px;

    padding: 20px 24px;
    margin-left: 220px;

    background-color: $white;

    .avatar-wrapper {
      margin: 0 auto;
    }

    .info-wrapper {
      padding: 0 6px;

      .full-name {
        margin-top: 14px;

        color: $full-name-black;

        font-weight: 800;
      }

      .title,
      .role,
      .branch-location {
        color: $small-text-black;
        font-weight: 500;
      }

      .company {
        margin-top: 16px;

        color: $main-blue;
        font-weight: 800;
      }

      .branch-name {
        margin-top: 16px;
        font-weight: 500;
      }
    }

    .btn {
      &.message {
        margin: 26px 0;
      }
    }

    // 1920 - 220
    @media only screen and (max-width: 1700px) {
      margin-left: 0px;
    }
  }
}
