.avatar-wrapper {
  position: relative;

  .avatar {
    width: 140px;
    height: 140px;

    object-fit: cover;

    border-radius: 50%;
  }

  .sticker {
    position: absolute;

    width: 40px;
    height: 40px;

    object-fit: cover;

    bottom: -4px;
    right: 10px;
  }
}
