.profile-page {
  @import "../../styles/variables/color";

  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;

  .left-content {
    .personal-info {
      margin-top: 30px;
    }
  }

  .main-content {
    flex-grow: 1;

    .full-info {
      margin-top: 30px;
    }
  }
}
