body {
  @import "./variables/color";

  background: $background;

  line-height: calc(1 + 4 / 12);

  color: $secondary-text-black;

  .james-test-project {
    margin: 26px 50px;

    @media only screen and (max-width: 520px) {
      margin: 10px;
    }
  }

  p {
    margin: 0;
  }
}
