.profile-page {
  @import "../../../../styles/variables/color";

  .full-info {
    .summary-info-wrapper {
      &.billing {
        .statistic-info {
          .statistic-list {
            display: flex;
            flex-wrap: wrap;

            margin-top: 15px;
            margin-left: -15px;

            .statistic-item {
              display: flex;
              justify-content: space-between;

              margin-top: 35px;

              min-width: 314px;

              padding: 24px 38px 10px 38px;
              margin-left: 38px;

              border: 2px solid $border-grey;
              border-radius: 8px;

              .statistic-value {
                .amount {
                  font-size: 30px;
                  font-weight: 500;

                  color: $text-black;
                }

                .label {
                  font-size: 16px;
                  font-weight: 500;

                  color: $text-black;
                }

                .description {
                  font-size: 12px;

                  color: $secondary-text-black;

                  font-style: italic;
                }
              }

              .icon {
                font-size: 45px;
              }

              @media only screen and (max-width: 520px) {
                padding: 10px;
                min-width: 220px;
              }
            }
          }

          .extra-info-list {
            margin-top: 18px;

            .extra-info-item {
              display: flex;
              align-items: center;

              margin-bottom: 12px;

              .icon {
                $size: 18px;
                width: $size;
                height: $size;
                font-size: $size;
              }

              .label,
              .value {
                color: $text-black;
              }

              .label {
                margin-left: 14px;
              }

              .value {
                margin-left: 8px;
                font-weight: 700;
              }

              &.question-amend {
                .value {
                  text-decoration: underline;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .service-charges {
            margin-top: 56px;

            .title {
              font-size: 16px;
            }

            .table {
              &.service-charge-table {
                margin-top: 25px;
                max-width: 1068px;

                thead {
                  tr {
                    th {
                      // Amount column
                      &:nth-child(3) {
                        text-align: right;
                      }
                    }
                  }

                  // 1366 + margin left 20px
                  @media only screen and (max-width: 1386px) {
                    tr {
                      th {
                        // Detail column
                        &:nth-child(2) {
                          display: none;
                        }
                      }
                    }
                  }

                  @media only screen and (max-width: 520px) {
                    tr {
                      th {
                        padding: 4px;
                        // Added on column
                        &:nth-child(4) {
                          display: none;
                        }
                      }
                    }
                  }
                }

                tbody {
                  tr {
                    td {
                      // Detail column
                      &:nth-child(2) {
                        display: flex;
                        align-items: center;

                        justify-content: space-between;

                        .credit-applied {
                          padding: 4px 16px;

                          font-size: 10px;

                          background-color: $label-green;
                          color: $white;

                          border-radius: 20px;
                        }
                      }

                      // Amount column
                      &:nth-child(3) {
                        text-align: right;
                      }
                    }
                  }

                  // 1366 + margin left 20px
                  @media only screen and (max-width: 1386px) {
                    tr {
                      td {
                        // Detail column
                        &:nth-child(2) {
                          display: none;
                        }
                      }
                    }
                  }

                  @media only screen and (max-width: 520px) {
                    tr {
                      td {
                        padding: 4px;
                        // Added on column
                        &:nth-child(4) {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
