.btn {
  @import "../../../styles/variables/color";
  color: $white;
  border: none;
  box-shadow: none;

  &.btn-primary {
    background: $main-blue;
    border: none;

    &.btn-ghost {
      color: $main-blue;
      border: 1px solid $main-blue;
      background-color: transparent;

      &:hover {
        color: $white;
      }
    }

    &:hover {
      background: $hover-blue;
    }
  }

  &:active,
  &:focus {
    border: none;
    box-shadow: none;
  }
}
