$white: #fff;

$background: #f3f4f8;

$main-blue: #70bbfe;
$hover-blue: #05a5ff;
$active-blue: #0062cc;

$icon-blue: #03a3ff;

$text-black: #2a292e;
$secondary-text-black: #545454;
$title-black: #575757;
$small-text-black: #a2a2a2;

$label-green: #4ce1b9;

$full-name-black: #434343;

$border-grey: #efefef;
