.my-table {
  @import "../../../styles/variables/color";

  thead {
    tr {
      th {
        padding-top: 4px;
        padding-bottom: 4px;

        font-size: 12px;
        font-weight: 500;

        border-top: 0;

        border-bottom: 1px solid $secondary-text-black;

        color: $small-text-black;

        vertical-align: middle;

        &:first-child {
          padding-left: 22px;
        }

        &:last-child {
          padding-right: 22px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        padding-top: 4px;
        padding-bottom: 4px;

        color: $secondary-text-black;

        vertical-align: middle;

        .btn {
          padding: 2px 20px;
        }

        &:first-child {
          padding-left: 22px;
        }

        &:last-child {
          padding-right: 22px;
        }
      }
    }
  }
}
