.profile-page {
  @import "../../../styles/variables/color";

  .full-info {
    margin-left: 20px;

    background-color: $white;

    .nav {
      border-bottom: 2px solid $border-grey;

      .nav-item {
        margin-left: 5px;
        margin-bottom: -2px;

        .nav-link {
          padding: 20px;

          border: none;

          font-size: 12px;
          font-weight: 500;

          text-transform: uppercase;

          cursor: pointer;
        }

        &.active,
        &:hover {
          border-bottom: 2px solid $label-green;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .tab-content {
      max-width: 1366px;

      margin-top: 4px;
      padding: 20px;

      .title {
        margin-left: 8px;

        font-weight: 700;

        text-transform: uppercase;
      }
    }

    // 1366 + 20 margin left
    @media only screen and (max-width: 1386px) {
      margin-left: 0px;
    }
  }
}
